*{
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


input {
	outline: none;
	border: none;
}

button {
	outline: none ;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/*-- contenedor del Login--*/

.contenedor-login {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to right, #36b04a, #1081cc);
}

.subcontenedor-login {
  width: 400px;
  background: #d8d8d8;
  border-radius: 20px;
  overflow: hidden;
  padding: 77px 55px 53px 55px;

}

/*----Formulario de user y password----*/

.login-form {
  width: 100%;
}

.login-form-titulo {
  display: block;
  font-family: Poppins-Bold;
  font-size: 40px;
  color: #333333;
  line-height: 1.5;
  text-align: center;
}

/*------------------------------------------------------------------
[ Input ]*/

.contenedor-inputform {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.inputform {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}


/*------------------------------------------------------------------
[ Button ]*/


.contenedor-boton {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 40px 5px;
  overflow: hidden;
  margin: 0 auto;
}

.login-boton {
  font-family: Poppins-Medium;
  background: #36b04a;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}


.mensaje{
  padding-bottom: 10px;
  width: 200px;
  text-align: center;
  margin: auto;
  color: #1081cc;

}
